@import '../base/variables';

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $primary-color;
    padding: 10px 20px;
}

.navbar-logo {
    display: flex;
    align-items: center;
    text-decoration: none;

    
    .navbar-title {
        font-size: 28px;
        font-weight: bold;
        color: $text-color;
    }
}
.logo {
    height: 50px;
    width: auto;
    margin-right: 10px;
}

.nav-links {
    list-style: none;
    display: flex;
    padding: 0 20px;

    li {
        margin-left: 20px;

        a {
            text-decoration: none;
            color: $text-color;
            font-size: 18px;

            &:hover {
                text-decoration: underline;
            }
        }
    }
}
